@tailwind base;
@tailwind components;
@tailwind utilities;

.bgimage1{
background-image: url('/public/bgimage1.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.bgimage2{
background-image: url('/public/bgimage2.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}